<h1>Documentary Films</h1>

<div class='row'>
  <%= link_to "Nuevo", new_documentary_path, class: "btn btn-success col-3 offset-md-9" %>
  <%# <button type="button" class="btn btn-success col-3 offset-md-9"> Nuevo </button> %>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Director</th>
      <th scope="col">Synopsis</th>
    </tr>
  </thead>
  <tbody>

  <% @documentaries.each do |documentary| %>
    <tr>
      <td> <%= documentary.name %> </td>
      <td>  <%= documentary.director %> </td>
      <td>  <%= documentary.synopsis %> </td>
    </tr>
  <% end %>
  </tbody>
  </table>
