<h1>Series</h1>

<div class='row'>
  <%= link_to "Nuevo", new_series_path, class: "btn btn-success col-3 offset-md-9" %>
  <%# <button type="button" class="btn btn-success col-3 offset-md-9"> Nuevo </button> %>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Director</th>
      <th scope="col">Synopsis</th>
    </tr>
  </thead>
  <tbody>

  <% @series.each do |serie| %>
    <tr>
      <td> <%= serie.name %> </td>
      <td>  <%= serie.director %> </td>
      <td>  <%= serie.synopsis %> </td>
    </tr>
  <% end %>
  </tbody>
  </table>
